In [25]:
import pandas as pd
import networkx as nx
import numpy as np

In [26]:
df = pd.read_csv('data/processed/Vacancy.csv', index_col=0)

df

,car,park_time,reservation_time,time_to_reservation,time_to_start,park_location_lat,park_location_long,park_zone,park_battery,moved
0,WBY1Z21070V307929,2017-08-01 12:49:44,2017-08-28 19:12:32,654.380000,654.463333,55.775655,12.513962,173051,0,8552.530999
1,WBY1Z21070V307929,2017-08-28 19:54:45,2017-08-28 20:45:33,0.846667,0.880000,55.706797,12.580914,102343,64,0.000000
2,WBY1Z21070V307929,2017-08-28 21:03:40,2017-08-29 15:22:07,18.307500,18.474167,55.689525,12.515708,147222,58,5.136804
3,WBY1Z21070V307929,2017-08-29 17:05:55,2017-08-29 22:15:40,5.162500,5.379167,55.689473,12.515429,147222,37,0.000000
4,WBY1Z21070V307929,2017-08-29 22:36:35,2017-08-30 07:24:19,8.795556,8.978889,55.689486,12.553311,102444,34,0.000000
...,...,...,...,...,...,...,...,...,...,...
366015,WBY1Z21010V307893,2018-05-08 12:55:32,2018-05-08 13:02:38,0.118333,0.151667,55.654351,12.600468,103242,92,0.000000
366016,WBY1Z21010V307893,2018-05-08 13:19:22,2018-05-08 14:30:29,1.185278,1.368611,55.673581,12.547326,147131,87,0.000000
366017,WBY1Z21010V307893,2018-05-08 14:52:59,2018-05-08 14:53:54,0.015278,0.348611,55.681119,12.507883,147234,84,0.000000
366018,WBY1Z21010V307893,2018-05-08 15:19:43,2018-05-08 18:16:33,2.947222,3.013889,55.681442,12.523499,147152,82,0.000000
366019,WBY1Z21010V307893,2018-05-08 18:31:27,2018-05-08 19:07:47,0.605556,0.655556,55.661214,12.523049,102712,80,0.000000

In [13]:
def haversine_alt(df, car1, car2):
    dfc1 = df[df.car == car1]
    dfc2 = df[df.car == car2]

    point1 = dfc1[['park_location_lat','park_location_long']].values[0]
    point2 = dfc2[['park_location_lat','park_location_long']].values[0]
    #return point1

    # convert decimal degrees to radians
    lon1, lat1 = map(np.radians, point1)
    lon2, lat2 = map(np.radians, point2)

    # Deltas
    delta_lon = lon2 - lon1 
    delta_lat = lat2 - lat1 
    
    # haversine formula 
    a = np.sin(delta_lat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(delta_lon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    r = 6371000 # Radius of earth in m
    return c * r

In [14]:
df = pd.read_excel("data/raw/DTU - data til case_LTMZones1.xlsx")

In [17]:
df[df.BilID == 'WBY1Z21070V307929']

,TurID,BilID,PersonID,Latitude (Start),Longitude (Start),Latitude (Slut),Longitude (Slut),Reservationstidspunkt,Start tidspunkt,Slut tidspunkt,Alder,KÃ¸n,Batteristatus (start),Batteristatus (slut),Km kÃ¸rt,FromZoneID,ToZoneID
2,3,WBY1Z21070V307929,38610,55.692382,12.583143,55.775655,12.513962,2017-07-31 07:28:38,2017-07-31 07:21:38,2017-08-01 12:49:44,21,M,0,0,19,102213,173051
28017,28789,WBY1Z21070V307929,24956,55.70912,12.582511,55.706797,12.580914,2017-08-28 19:17:32,2017-08-28 19:12:32,2017-08-28 19:54:45,46,M,78,64,21,102343,102343
28106,28881,WBY1Z21070V307929,20907,55.706797,12.580914,55.689525,12.515708,2017-08-28 20:47:33,2017-08-28 20:45:33,2017-08-28 21:03:40,41,F,63,58,6,102343,147222
28665,29452,WBY1Z21070V307929,34152,55.689565,12.515749,55.689473,12.515429,2017-08-29 15:32:07,2017-08-29 15:22:07,2017-08-29 17:05:55,43,F,57,37,32,147222,147222
29114,29913,WBY1Z21070V307929,36927,55.689473,12.515429,55.689486,12.553311,2017-08-29 22:28:40,2017-08-29 22:15:40,2017-08-29 22:36:35,22,M,37,34,4,147222,102444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363904,370450,WBY1Z21070V307929,49512,55.654379,12.617396,55.639331,12.633849,2018-05-07 09:03:44,2018-05-07 08:56:44,2018-05-07 09:07:43,21,M,19,18,2,103221,185131
364187,370738,WBY1Z21070V307929,51606,55.639331,12.633849,55.677002,12.578168,2018-05-07 13:24:21,2018-05-07 13:04:21,2018-05-07 13:52:14,24,F,17,8,10,185131,102111
366021,372595,WBY1Z21070V307929,2692,55.700013,12.589068,55.666629,12.52318,2018-05-08 18:30:58,2018-05-08 18:30:58,2018-05-08 18:53:37,33,M,83,79,8,102352,102722
366088,372663,WBY1Z21070V307929,42241,55.666629,12.52318,55.649949,12.51758,2018-05-08 19:13:27,2018-05-08 19:10:27,2018-05-08 19:20:15,35,M,79,78,3,102722,102751
366193,372770,WBY1Z21070V307929,31118,55.649949,12.51758,55.652856,12.613387,2018-05-08 20:16:05,2018-05-08 20:15:05,2018-05-08 20:33:12,32,M,78,72,9,102751,103222